.SideNav{
    color: white !important;
    min-width: 220px;
    
}

.SideNav h2{
    font-size: 2rem;
    font-weight: bolder;
}

.SideNav ul li{
    margin-top: .7rem;
}

.SideNav ul li a{
    font-size: 1.3rem !important;
    font-weight: 600;
}