.form{
    background-color: #c2d5ff;
    position: relative;
    z-index: 100;
    color: #010611;
    font-weight: bold;
    transition: .5s all ease-in-out;
}

.form *{
    outline: none;
}

.form h1 {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.form textarea{
    resize: none;
}

.form p {
    color: red;
    text-align: center;
}

.submitBtn {
    border: 3px solid black;
    transition: .5s all ease-in-out;
}

.submitBtn:hover{
    border: 3px solid green;
}

.div{
    min-height: 30em;
}

.div > div{
    display: flex;
    align-items: center;
    justify-content: center;
}